<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Контакти</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../../styles.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <img src="../../pics/logo.png" alt="Логотип" class="logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container header-container">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="../user-view/main.html">Головна</a></li>
                    <li class="nav-item"><a class="nav-link" href="../user-view/contact.html">Контакти</a></li>
                    <li class="nav-item"><a class="nav-link" href="../user-view/qa.html">Q&A</a></li>
                    <li class="nav-item"><a class="nav-link" href="table.html">Роботи</a></li>
                    <li class="nav-item"><a class="nav-link btn login-button" href="../authentication/login.html">Увійти</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container mt-4">
    <div class="px-4 py-2"> <!-- Додав px-4 та py-2 для відступів всередині контейнера -->
        <h3>Творче Агентство "ARTuni"</h3><br>
        <p class="mb-1">Вулиця Творчості 123</p>
        <p class="mb-1">Місто Мистецтва</p>
        <p class="mb-3">Країна Талантів</p>
        <p><i class="fas fa-phone"></i> Телефон: +380123456789</p>
        <p><i class="fas fa-envelope"></i> Електронна пошта: gallerymails@email.com</p>
        <p class="mt-4">Ми раді допомогти вам з понеділка по п'ятницю між 9:00 та 17:00.</p>
    </div>
</div>
<footer>
    <a href="tel:+380123456789"><i class="fas fa-phone"></i></a>
    <a href="mailto:gallerymails@email.com"><i class="fas fa-envelope"></i></a>
    <a href="https://t.me/gallerytg"><i class="fab fa-telegram"></i></a>
    <a href="viber://chat?number=+380123456789"><i class="fab fa-viber"></i></a>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
