<!DOCTYPE html>
<html lang="en">
<head>
    <title>Питання і Відповіді</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../../styles.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <img src="../../pics/logo.png" alt="Логотип" class="logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container header-container">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="../user-view/main.html">Головна</a></li>
                    <li class="nav-item"><a class="nav-link" href="../user-view/contact.html">Контакти</a></li>
                    <li class="nav-item"><a class="nav-link" href="../user-view/qa.html">Q&A</a></li>
                    <li class="nav-item"><a class="nav-link" href="table.html">Роботи</a></li>
                    <li class="nav-item"><a class="nav-link btn login-button" href="../authentication/login.html">Увійти</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">

    <div class="row mb-4 mt-4">
        <div class="col-lg-8 offset-lg-2">
            <div class="border p-4">
                <strong>Співпраця з художниками та галереями.</strong>
                <p>Ми відкриті до співпраці з художниками та галереями для включення їхніх творів до нашого портфоліо та
                    платформи. Це відмінна можливість для представлення своєї творчості новим аудиторіям.</p>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-lg-8 offset-lg-2">
            <div class="border p-4">
                <strong>Розвиток функціоналу.</strong>
                <p>Ми завжди відкриті до відгуків користувачів та готові розглядати пропозиції щодо розширення
                    функціоналу
                    платформи. Ваші ідеї допомагають нам стати кращими.</p>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-lg-8 offset-lg-2">
            <div class="border p-4">
                <strong>Навчання та майстер-класи.</strong>
                <p>Запрошуємо художників та експертів мистецтва проводити навчальні заходи на нашій платформі. Це
                    сприятиме
                    обміну знаннями та підвищенню рівня мистецької освіти.</p>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-lg-8 offset-lg-2">
            <div class="border p-4">
                <strong>Корпоративні партнерства.</strong>
                <p>Ми відкриті для співпраці з корпораціями, щоб створити унікальні мистецькі ініціативи. Це може
                    включати
                    виставки, аукціони чи культурні заходи.</p>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-lg-8 offset-lg-2">
            <div class="border p-4">
                <strong>Рекламні проєкти.</strong>
                <p>Запрошуємо рекламні агентства та компанії до співпраці для реалізації креативних рекламних проектів,
                    спрямованих на підтримку мистецтва.</p>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-lg-8 offset-lg-2">
            <div class="border p-4">
                <strong>Питання: Які переваги використання вашого творчого агентства та платформи для
                    художників?</strong>
                <p>Відповідь: Наше творче агентство надає художникам можливість представити свої твори широкій
                    аудиторії.
                    Платформа сприяє їхньому виявленню, забезпечуючи зручний інтерфейс для управління та взаємодії з
                    колекціонерами та галереями.</p>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-lg-8 offset-lg-2">
            <div class="border p-4">
                <strong>Питання: Як ви вирішуєте проблеми взаємодії художників із колекціонерами та галереями через вашу
                    платформу?</strong>
                <p>Відповідь: Ми розв'язуємо це через ефективний пошук, каталогізацію та створення сприятливого
                    середовища
                    для взаємодії та обміну ідеями. Платформа сприяє зручній взаємодії всіх учасників мистецького
                    процесу.</p>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-lg-8 offset-lg-2">
            <div class="border p-4">
                <strong>Питання: Як ваша платформа спрощує управління галереями?</strong>
                <p>Василь Онопко: Наша платформа надає ефективні інструменти для управління творчими колекціями та
                    галереями, включаючи ефективний пошук, каталогізацію та маркетингові ініціативи. Це дозволяє
                    галереям
                    ефективно взаємодіяти з аудиторією та просувати та продавати твори мистецтва.</p>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-lg-8 offset-lg-2">
            <div class="border p-4">
                <strong>Як Користуватися Нашою Платформою.</strong>
                <p>Для того щоб почати використовувати нашу платформу, зареєструйтеся на сайті та додайте ваші твори.
                    Для
                    художників, галерей, та колекціонерів ми надаємо зручний інтерфейс для навігації та взаємодії.</p>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-lg-8 offset-lg-2">
            <div class="border p-4">
                <strong>Ділові пропозиції від користувачів.</strong>
                <p>Ми відкриті до ділових пропозицій від наших користувачів. Якщо у вас є ідеї щодо розвитку сервісу чи
                    нових функціональних можливостей, будемо раді почути їх.</p>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-lg-8 offset-lg-2">
            <div class="border p-4">
                <strong>Зв'яжіться з нами.</strong>
                <p>Якщо у вас є питання, ідеї або ви хочете отримати консультацію, будь ласка, зв'яжіться з нашою
                    командою
                    через форму зворотнього зв'язку або за допомогою електронної пошти. Ми завжди на зв'язку!</p>
            </div>
        </div>
    </div>
</div>
<footer>
    <a href="tel:+380123456789"><i class="fas fa-phone"></i></a>
    <a href="mailto:gallerymails@email.com"><i class="fas fa-envelope"></i></a>
    <a href="https://t.me/gallerytg"><i class="fab fa-telegram"></i></a>
    <a href="viber://chat?number=+380123456789"><i class="fab fa-viber"></i></a>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
