<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Головна</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../../styles.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <img src="../../pics/logo.png" alt="Логотип" class="logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container header-container">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="../user-view/main.html">Головна</a></li>
                    <li class="nav-item"><a class="nav-link" href="../user-view/contact.html">Контакти</a></li>
                    <li class="nav-item"><a class="nav-link" href="../user-view/qa.html">Q&A</a></li>
                    <li class="nav-item"><a class="nav-link" href="table.html">Роботи</a></li>
                    <li class="nav-item"><a class="nav-link btn login-button" href="../authentication/login.html">Увійти</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="description">
            <div class="mb-4 text-center">
                <div class="brush-icon">
                    <i class="fas fa-paint-brush"></i>
                </div>
                <h1><b>Про проєкт</b></h1>
                <p>Наш проєкт призначений для сприяння розвитку галерей та високоякісного мистецтва в Україні, створюючи
                    платформу для презентації та підтримки творчих пошуків українських художників.</p>
            </div>
        </div>
    </div>

    <div class="row mx-auto">
        <div class="col-sm-12 col-md-6 mb-4">
            <h3>Як нас знайти</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d635.2475033704491!2d30.512885512277634!3d50.441286674854304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cef91a3c0861%3A0xf19741345ee1d474!2z0JzRg9C30LXQuSDQpdCw0L3QtdC90LrRltCy!5e0!3m2!1suk!2sua!4v1695923177985!5m2!1suk!2sua"
                    width="85%" height="250" style="border: 10px;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-sm-12 col-md-6 mb-4">
            <h3>Наша місія</h3>
            <p>Привіт, я Василь Онопко, засновник проєкту "ArtUni". Разом з Марією Литвиненко ми об'єднуємо свою страсть
                до мистецтва та багаторічний досвід у цьому напрямку.
                Ми вирішили створити "ArtUni", щоб зробити творчість більш доступною та динамічною в Україні. За
                допомогою цього проєкту, ми прагнемо створити інноваційну платформу для управління творчими колекціями
                та галереями, сприяючи розвитку українського мистецтва.
                Під назвою "ArtUni" ми об'єднали слова "Art" (мистецтво) і "Uni" (університет), що відображає нашу місію
                створити університет та об'єднати творчу спільноту. Ми віримо в силу об'єднання та розвитку культурного
                простору, і "ArtUni" стане центром для виявлення та підтримки талановитих українських художників.</p>
        </div>
    </div>

    <div class="container mt-5 mb-2">
        <h2>Наші проєкти</h2>
        <div class="row mb-4">
            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <img src="../../pics/Pic1.jpeg" class="card-img-top img-fluid" alt="Image 1">
                    <div class="card-body">
                        <p class="card-text">Інноваційна Галерея: Де Мистецтво Зустрічає Технології</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 mb-4">
                <div class="card">
                    <img src="../../pics/pic4.jpg" class="card-img-top img-fluid" alt="Image 2">
                    <div class="card-body">
                        <p class="card-text">Творче Агентство 'ArtHub': Відкриваємо Двері в Світ Таланту</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 mb-4">
                <div class="card">
                    <picture>
                        <source srcset="../../pics/pic5.jpg" media="(max-width: 300px)">
                        <source srcset="../../pics/pic2.jpg" media="(max-width: 1500px)">
                        <source srcset="../../pics/pic3.jpg">
                        <img src="../../pics/pic2.jpg" class="card-img-top img-fluid" alt="Image 3">
                    </picture>
                    <div class="card-body">
                        <p class="card-text">Експресивний Простір: Проєкт 'ArtVanguard' для Виразного Мистецтва</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <a href="tel:+380123456789"><i class="fas fa-phone"></i></a>
    <a href="mailto:gallerymails@email.com"><i class="fas fa-envelope"></i></a>
    <a href="https://t.me/gallerytg"><i class="fab fa-telegram"></i></a>
    <a href="viber://chat?number=+380123456789"><i class="fab fa-viber"></i></a>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
